version: 2
jobs:
  build:
    docker:
      - image: node:8.11.1-alpine
    steps:
      - checkout
      - run:
          name: Install packages
          command: yarn install
      - run:
          name: Check the code format
          command: yarn run format:check
      - run:
          name: Lint the code
          command: yarn run lint
      - run:
          name: Run tests
          command: yarn run test
      - run:
          name: Run web-ext
          command: yarn run web-ext lint && yarn run web-ext build
